*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --backgroundColor: #f1c304;
    --detalleColor: #2e67b0;
    --marginGeneral: 30px 10%;
    --bordePrueba: 2px solid red;
}

body{
    background-color: var(--backgroundColor);
}

header{
    display: flex;
    justify-content: center;
    margin: var(--marginGeneral);

}

.logo{
    width: 350px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.container__form{
    margin: var(--marginGeneral);
}

.container__form input{
    padding: 20px;
    background-color: transparent;
    height: 30px;
    width: 250px;
    color: var(--detalleColor);
    border-radius: 20px;

}
