*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --backgroundColor: #f1c304;
    --detalleColor: #2e67b0;
    --marginGeneral: 30px 10%;
    --bordePrueba: 2px solid red;
}

body{
    background-color: var(--backgroundColor);
}

header{
    display: flex;
    justify-content: center;
    margin: var(--marginGeneral);

}

.logo{
    width: 350px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.container__form{
    margin: var(--marginGeneral);
    display: flex;
    justify-content: center;
}

.container__form input{
    padding: 20px;
    width: 280px;
    font-size: 15px;
    text-align: center;
    border-width: 3px;
    border-color: #2e67b0;
    background-color: #f8d547;
    color: white;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 0px 13px rgba(50,91,143,.83);
}

.container__form input:focus {
    outline:none;
}

.pokemonCard{
    border: 4px solid #5287cc;
    background-color: #5287cc;
    border-radius: 10px;
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    justify-content:space-between;
}

.pokemonCardImage{
    width: 200px;
    position: absolute;
    top: -50px;
    right: -70px;
}

.pokemonCardImage img{
    width: 100%;
    object-fit: contain;
}

.pokemonCardInfo{
    width: 100%;
    height: 100px;
}